
<header class="header" th:fragment="header">
    <h1 class="title">구제서재</h1>
    <div class="header-controls">
        <p class="subtitle">나만의 구제서재를 만들어보세요!</p>
        <button class="profile-button">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
            >
                <line x1="4" x2="20" y1="12" y2="12"></line>
                <line x1="4" x2="20" y1="6" y2="6"></line>
                <line x1="4" x2="20" y1="18" y2="18"></line>
            </svg>
        </button>
        <div class="profile">
            <img th:src="@{/img/profile.png}" alt="Profile Image" class="profile-img">
            <p class="profile-email">user@example.com</p>
            <div class="profile-buttons">
                <a href="#" class="profile-button">마이페이지</a>
                <a href="#" class="profile-button">개인정보 변경</a>
                <a href="#" class="profile-button">로그아웃</a>
            </div>
        </div>
    </div>
</header>