<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Youtube</title>
    <link rel="stylesheet" th:href="@{/css/Quote/bookFinder.css}" />
</head>
<body>
<div class="container">
    <div class="card">
        <form class="search-form" th:action="@{/quote/BookFinder}" method="post">
            <input
                    class="search-input"
                    name="bookName"
                    placeholder="book Search..."
                    type="text"
            />
            <button class="search-button" type="submit">Search</button>
        </form>
        <div class="content">
            <div class="results" th:each="book : ${bookEntities}">
                <div class="result-item">
                    <div class="book-image">
                        <img
                                th:src="${book.coverImg}"
                                alt="Book cover"
                        />
                    </div>
                    <h5 class="result-title" th:text="${book.bookName}"></h5>
                    <a
                            th:href="@{'/quote/' + ${book.bookId} + '/quoteForm'}"
                            class="btn"
                    >Button</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
